@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
    background: rgb(6, 14, 19);
}

.leaflet-container {
    
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height:70vh;
    border-style: solid;
    border-color: black;
    border-width: 4px;
}

.mapHeader {
    display: flex;
    width: 80%;
    height: 60px;
    background: black;
    margin: auto;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 20px 20px 0 0 ;
    justify-content: center;
    align-items: center;
}

.mapHeader .title {
    color: #c50606;
    font-size: 38px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    padding-top: 6px;
}
.infoCard {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80px;
    background: #000000;
    color: white;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 6px;
    border-radius: 0 0 20px 20px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    justify-content: space-around;
    /* text-transform: uppercase; */
}

.infoCard .title {
    width: 100%;
    text-align: center;
    font-size: 26px;
}

.infoCard .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width:20%;
    /* background: red; */
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.infoCard .item.cases {
    background: #151515
}
.infoCard .item.deaths {
    background: #B02037
}
.infoCard .item.recovered {
    background: #00A063
}
.infoCard .item.active {
    background: #1076AD
}

@media screen and (max-width: 480px) {
    .infoCard .item {
        font-size: 9px;
    }
}



.break {
    flex-basis: 100%;
    height: 0;
  }
  
.break-column {
    flex-basis: 100%;
    width: 0;
  }

.themeSwitcher {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60px;
    height: 24px;
    background: #a0a0a0;
    border-radius: 20px;
    border: 2px solid rgb(78, 78, 78);
}
.themeSwitcher .button {
    position: absolute;
    justify-self: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}
.themeSwitcher .button.dark {
    left: 0px;
    transition: .3s;
}
.themeSwitcher .button.light {
    left: 38px;
    transition: .3s
}