.myIcon {
    width: 24px!important;
    height:24px!important;
    border-radius: 50%;
    background: #CC2222BB;
    box-shadow: -1px 1px 4px 1px  #111111 ;
    font-size: 9px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myIcon:focus {
    outline: none;
}